/__tests__
/.github
/.storybook
/.coverage
/.vscode
/.node_modules
/.scripts
/.src
/.stories
/.editorconfig
/.eslintignore
/.eslintrc
/.gitignore
/.size-limit.json
/.prettierrc
/.swcrc
/jest.config.js
/tsconfig.json