{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "es2022",
    "keepClassNames": true,
    "minify": {
      "keepFnames": true,
      "keepClassnames": true,
      "mangle": false,
      "compress": false
    },
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  },
  "module": {
    "type": "commonjs"
  }
}
